apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ Release.Name}}-db-network-policy
{{- with .Values.policies }}
  labels:
    {{- range $key,$value := .labels }}
    {{ $key }}: {{ $value }}
    {{- end }}
spec:
  podSelector:
    matchLabels:
      {{- range $key,$value := .podSelector }}
      {{ $key }}: {{ $value }}
      {{- end }}
  policyTypes:
    {{- if .ingress.enabled }}
    - Ingress
    {{- end }}
    {{- if .egress.enabled }}
    - Egress
    {{- end }}
  {{- if .ingress.enabled }}
  ingress:
    - from:
      - podSelector:
          matchLabels:
            {{- range  $key,$value := .ingress.from.podSelector }}
            {{ $key }}: {{ $value }}
            {{- end }}
      ports:
        {{- range .ingress.from.ports }}
        - protocol: {{ .protocol }}
          port: {{ .port }}
        {{- end }}
  {{- end}}
  {{- if .egress.enabled }}
  egress: {{ .egress.to }}
  {{- end }}

{{- end }}