# Headless Service to be used by Postgres StatefulSet
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-postgres-headless-service
  labels:
    app: postgres
spec:
  ports:
    - port: 5432
      name: postgres
  clusterIP: None
  selector:
    {{- range $key,$value := .Values.statefulSet.labels }}
    {{ $key }}: {{ $value }}
    {{- end }}

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-postgres-statefulset
  {{- with .Values.statefulSet }}
  labels:
    {{- range $key,$value := .labels }}
    {{ $key }}: {{ $value }}
    {{- end }}
spec:
  serviceName: {{ .Release.Name }}-postgres-headless-service
  replicas: {{ .replicas }}
  selector:
    matchLabels:
      {{- range $key,$value := .selector.matchLabels }}
      {{ $key }}: {{ $value }}
      {{- end }}
  template:
    metadata:
      labels:
        {{- range $key,$value := .template.labels }}
        {{ $key }}: {{ $value }}
        {{- end }}
    spec:
      containers:
        {{- range .containers }}
        - name: {{ .name }}
          image: {{ .image }}
          imagePullPolicy: {{ $.Values.image.pullPolicy }}
          ports:
            {{- range .ports }}
            - name: {{ .name }}
              containerPort: {{ .containerPort }}
            {{- end }}
          envFrom: # Defines all ConfigMap's and Secret's data as container environment variables
            {{- range $.Values.statefulSet.envFrom}}
            {{- if .configMapRef }}
            - configMapRef: 
                name: {{ .configMapRef.name }}
            {{- end }}
            {{- if .secretRef }}
            - secretRef: 
                name: {{ .secretRef.name }}
            {{- end }}
            {{- end }}
          volumeMounts:
            {{- range .volumeMounts}}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              subPath: {{ .subPath }}
            {{- end }}
        {{- end }}
  volumeClaimTemplates:
    {{- range .volumeClaims }}
    - metadata:
        {{- range $key,$value := .metadata }}
        {{ $key }}: {{ $value }}
        {{- end }}
      spec:
        accessModes: {{ .accessModes }}
        resources:
          requests:
            storage: {{ .storageSize }}
    {{- end }}
  {{- end }}