apiVersion: v1
kind: Service
metadata:
  name: postgres-clusterip
  labels:
    app: postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432 # This also sets 'targetPort' to 5432
  selector:
    app: postgres-app